.BurgerButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  .content {
    // input {
    //  display: none;
    // }

    // label {
    //  display: block;
    //  cursor: pointer;
    //  position: absolute;
    //  width: 50vw;
    //  height: 50vw;
    //  max-width: 150px;
    //  max-height: 150px;
    // }

    // @media (min-aspect-ratio: 1/1) {
    //  label {
    //   width: 50vh;
    //   height: 50vh;
    //  }
    // }

    // .menu__2 label {
    //  bottom: 0;
    //  left: 0;
    // }

    // path {
    //  fill: none;
    //  stroke: #ffffff;
    //  stroke-width: 3;
    //  stroke-linecap: round;
    //  stroke-linejoin: round;
    //  --length: 24;
    //  --offset: -38;
    //  stroke-dasharray: var(--length) var(--total-length);
    //  stroke-dashoffset: var(--offset);
    //  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    // }

    // circle {
    //  fill: #fff3;
    //  opacity: 0;
    // }

    // label:hover circle {
    //  opacity: 1;
    // }

    // .cross input:checked + svg {
    //  .line__1,
    //  .line__3 {
    //   --length: 22.627416998;
    //  }
    //  .line__2 {
    //   --length: 0;
    //  }
    // }

    // .menu__2 {
    //  background-color: #0095f9;
    //  .line__1,
    //  .line__3 {
    //   --total-length: 111.22813415527344;
    //   --offset: -50.22813415527344;
    //  }
    //  .line__2 {
    //   --total-length: 99;
    //  }
    //  input:checked + svg {
    //   path {
    //    transform: translateX(30px);
    //   }
    //   .line__1,
    //   .line__3 {
    //    --offset: -16.9705627485;
    //   }
    //   .line__2 {
    //    --offset: -20;
    //   }
    //  }
    // }
  }
}
